@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
.slideInAnimation {
  animation: slideInRight 0.5s ease-out;
}

@keyframes slideOutRight {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.slideOutAnimation {
  animation: slideOutRight 0.5s ease-out;
}

@media screen and (max-width: 1023px) {
  .abc {
    z-index: 999;
    left: 0%;
    width: 200px;
    margin-top: 4px;
    animation: leftToRightAnimation 0.3s ease-in-out both;
  }
  .aaa {
    z-index: 999;
    left: -100%;
    width: 200px;
    margin-top: 4px;
    animation: rightToLeftAnimation 0.3s ease-in-out both;
  }
}

.leftToRight {
  animation: leftToRightAnimation 0.3s ease-in-out both;
}

@keyframes leftToRightAnimation {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.rightToLeft {
  animation: rightToLeftAnimation 0.3s ease-in-out both;
}

@keyframes rightToLeftAnimation {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}
